html, body {
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   margin: 0;
   padding: 0;
}

.header {
   font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
   color: #4F7FB9;
   padding: 24px;
}

.header h1 {
   font-weight: normal;
   margin: 0;
}

.wrapper {
   display: table;
   height: 100%;
   margin: 0 auto;
   padding: 0 12px;
   width: auto;
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
}

.day {
   display: inline-block;
   min-height: 600px;
   width: 260px;
   margin: 0 4px 4px 4px;
   padding: 12px;
   border: 1px solid #ccc;
}

.name {
   padding-bottom: 6px;
   border-bottom: 1px dotted #ccc;
}

.task {
   float: left;
   width: 100%;
   margin-top: 12px;
   padding: 12px;
   min-height: 1em; /* Needed when there is no name, just time */
   border-radius: 2px;
   border: 1px dashed #ccc;
   box-sizing: border-box;
}

.task.open {
   color: #4F7FB9;
   border-color: #A3B8D3;
}

.open .time {
   color: #A3B8D3;
}

.task.open i {
   color: #4F7FB9;
}

.time {
   float: right;
   color: #aaa;
}

.task i {
   position : relative;
   margin-right: 5px;
   top: -2px;
   color: #888;
}

.task h1 {
   font-size: 1.2em;
   margin: 0;
   font-weight: normal;
   display: inline-block;
}

ul {
    list-style-position: inside;
   padding: 0 0 0 6px;
}
