<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="css/styles.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<div class="header">
   <h1><i class="fa fa-calendar"></i>This Week...</h1>
</div>
   <div class="wrapper" id="jsWeek"></div>
   <script type="text/template" class="template-day">
      <div class="day <%- model.classes %>">
         <div class="info">
            <div class="time"><%- model.used %>/24</div>
            <div class="name"><%- model.name %></div>
         </div>
         <div class="items">
            <%= model.tasksHTML %>
         </div>
      </div>
   </script>
   <script type="text/template" class="template-task">
      <div class="task <%- model.classes %>">
         <% if (model.icon) { %>
            <i class="fa <%= model.icon %>"></i>
         <% } %>
         <div class="time"><%- model.hours %>hr</div>
         <h1><%- model.name %></h1>
      </div>
   </script>
   <script type="text/javascript" src="js/thirdparty/jquery-1.11.3.min.js"></script>
   <script type="text/javascript" src="js/thirdparty/underscore-min.js"></script>
   <script type="text/javascript" src="js/app.js"></script>
</body>
</html>

